@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  background-color: #faf7f2;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

@import "tailwindcss";

@theme {
  /* 🎨 COLORES BASE */
  --color-cream: #faf7f2; /* crema cálido */
  --color-hueso: #f3eee5; /* casi papel artesanal */
  --color-champagne: #ecdcc3; /* champagne suave */
  --color-gold: #d4af37; /* dorado clásico */
  --color-gold-soft: #c7a45a; /* dorado suave */
  --color-pearl: #dad7d1; /* gris perla elegante */
  --color-smoke: #6f6f6f; /* gris humo para textos */
  --color-black-soft: #2c2c2c; /* negro suave, más elegante */

  /* 🔘 Blancos */
  --color-white: #ffffff;
  --color-white-soft: #fefcfa;

  /* ✍️ TIPOGRAFÍAS */
  --font-titulo: "Playfair Display", serif;
  --font-texto: "Poppins", sans-serif;
}

@keyframes fadeInSlow {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseGift {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.animate-fadeInSlow {
  animation: fadeInSlow 1.5s ease forwards;
}

.animate-slideUp {
  animation: slideUp 1.3s ease forwards;
}
